<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EjemploJersey</display-name>
  <servlet>
  	<servlet-name>Servicios Elver Jersey</servlet-name>
  	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  	<init-param>
  		<param-name>com.sun.jersey.config.property.packages</param-name>
  		<param-value>com.udea.iw.ws</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servicios Elver Jersey</servlet-name>
  	<url-pattern>/Dormi/*</url-pattern><!-- El asterisco es para que todo lo que este adelante lo va a responder el servlet -->
  </servlet-mapping>
</web-app>